<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awesome_board.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FC2A5797E9A92BF517D56D484CF01102697FA9E2</string>
				<key>dateExpires</key>
				<string>27.12.21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC2A5797E9A92BF517D56D484CF01102697FA9E2</string>
						<key>dateExpires</key>
						<string>27.12.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9NB4427S69</string>
						<key>name</key>
						<string>Lukas Pannenbecker</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC2A5797E9A92BF517D56D484CF01102697FA9E2</string>
						<key>dateExpires</key>
						<string>27.12.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9NB4427S69</string>
						<key>name</key>
						<string>Lukas Pannenbecker</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC2A5797E9A92BF517D56D484CF01102697FA9E2</string>
						<key>dateExpires</key>
						<string>27.12.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9NB4427S69</string>
						<key>name</key>
						<string>Lukas Pannenbecker</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC2A5797E9A92BF517D56D484CF01102697FA9E2</string>
						<key>dateExpires</key>
						<string>27.12.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MultiplatformBleAdapter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9NB4427S69</string>
						<key>name</key>
						<string>Lukas Pannenbecker</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC2A5797E9A92BF517D56D484CF01102697FA9E2</string>
						<key>dateExpires</key>
						<string>27.12.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_ble_lib.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9NB4427S69</string>
						<key>name</key>
						<string>Lukas Pannenbecker</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC2A5797E9A92BF517D56D484CF01102697FA9E2</string>
						<key>dateExpires</key>
						<string>27.12.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9NB4427S69</string>
						<key>name</key>
						<string>Lukas Pannenbecker</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC2A5797E9A92BF517D56D484CF01102697FA9E2</string>
						<key>dateExpires</key>
						<string>27.12.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9NB4427S69</string>
						<key>name</key>
						<string>Lukas Pannenbecker</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9NB4427S69.com.manu.awesomeBoard</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9NB4427S69</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>9NB4427S69.com.manu.awesomeBoard</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e3a4ccd8-dbb4-4186-8aa2-90f3ec0cddbc</string>
				<key>name</key>
				<string>ProfilewithFriends</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9NB4427S69</string>
				<key>name</key>
				<string>Lukas Pannenbecker</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
